<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Wesltk | Review Your Order</title>
	<!-- Bootstrap -->
	<link href="img/fav.png" rel="icon" type="icon/image">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/slick.css" rel="stylesheet">
	<link href="css/hamburgers.css" rel="stylesheet">
	<link href="css/slick-theme.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/intlTelInput.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>

<body>
	<!-- Header Start -->
	<div class="header boxs">
		<div class="container">
			<nav class="navbar navbar-default">
				<nav class="navbar navbar-expand-md">
					<a class="navbar-brand" href="index.html"><img src="img/logoblue.svg" class="img-fluid" alt="logo"></a>
					<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav"><span class="navIcon"></span></button>
					<div class="navbar-collapse" id="nav">
						<div class="headerBox d-flex align-items-center float-right">
							<ul class="navbar-nav">
								<li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Become a Partner </a></li>
								<li class="nav-item afterLogin categoryBox"><a class="nav-link subMenu" href="javascript:void(0)"> Offers </a>
								</li>
								<li class="nav-item"><a class="nav-link" href="#0">Services <span><img src="img/dropblue.svg" class="img-fluid" alt="dropdown"></span></a></li>
								<li class="nav-item"><a class="nav-link" href="#0">Shop <span><img src="img/dropblue.svg" class="img-fluid" alt="dropdown"></span> </a></li>
								<li class="nav-item"><a class="nav-link" href="#0"><span><img src="img/cart2.svg" class="img-fluid" alt="cart"></span> </a></li>

								<li class="nav-item loginShow"><a class="nav-link loginBtn" href="#0">Login</a></li>
								<li class="nav-item urserShow"><a class="nav-link afterloginBtn" href="#0"><span><img src="img/user.png" class="img-fluid" alt="user"></span>Deepanshu
									</a>
									<div class="profileChanges">
										<ul>
											<li><a href="profile.html">Profile</a></li>
											<li><a href="profile.html">Notification</a></li>
											<li><a href="profile.html">Orders</a></li>
											<li><a href="profile.html">Address</a></li>
											<li><a href="profile.html">Logout</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</nav>

			</nav>

		</div>
	</div>
	<!-- Header End -->

	<!--	shoping cart code start-->
	<section class="shopingCart scrollTop paddingAll boxs">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="reviewHead">
						<h2 class="mainHeading">Review Your Order</h2>
					</div>
					<div class="reviewOrder">
						<div class="reviewFirst">
							<div class="revFHead">
								<h2>Shipping Address</h2>
								<a href="#0">Change</a>
							</div>
							<p>Amet minim mollit non deserunt ullamco est sit aliqua amet sint. 2972 Westheimer Rd. Santa Ana, Illinois 85486 </p>
							<h3>44466668888</h3>
						</div>
						<div class="reviewFirst">
							<div class="revFHead">
								<h2>Payment Method</h2>
								<a href="#0">Change</a>
							</div>
							<p>Net Banking : <span>HDFC Bank</span></p>
						</div>
						<div class="reviewFirst">
							<div class="revFHead">
								<h2>Voucher & Pomotional codes</h2>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Enter Code">
								<button type="button">Apply</button>
							</div>
						</div>
					</div>
					<div class="shopCartInHead shopCartInHead2">
						<h2>Delivery Date : 26 Jul, 2020 | 9PM</h2>
					</div>
					<div class="shopCartIn">
						<div class="shopCartInAl">
							<div class="shopingDet">
								<div class="shopinImg">
									<img src="img/shop1.png" class="img-fluid" alt="shop">
								</div>
								<div class="shopContent">
									<h2>Mix Veg</h2>
									<p>North Indian, Mughlai, Seafood, Biryani</p>
									<div class="productDet">
										<div class="addProduct addProduct2">
											<div class="vaulebox">
												<button type="button" class="minus_btn">-</button>
												<input type="text" value="1" class="qty">
												<p class="productAdd">Add to Cart</p>
												<button type="button" class="plus_btn">+</button>
											</div>
										</div>
										<a href="#0"> X Remove</a>
									</div>
								</div>
							</div>
							<div class="priceAl">
								<h2>$ 12.93</h2>
							</div>
						</div>
						<div class="shopCartInAl">
							<div class="shopingDet">
								<div class="shopinImg">
									<img src="img/shop1.png" class="img-fluid" alt="shop">
								</div>
								<div class="shopContent">
									<h2>Mix Veg</h2>
									<p>North Indian, Mughlai, Seafood, Biryani</p>
									<div class="productDet">
										<div class="addProduct addProduct2">
											<div class="vaulebox">
												<button type="button" class="minus_btn">-</button>
												<input type="text" value="1" class="qty">
												<p class="productAdd">Add to Cart</p>
												<button type="button" class="plus_btn">+</button>
											</div>
										</div>
										<a href="#0"> X Remove</a>
									</div>
								</div>
							</div>
							<div class="priceAl">
								<h2>$ 12.93</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="procedTo boxs">
						<div class="procedTotal procedTotal3 boxs">
							<h2>Order Summary</h2>
						</div>
						<div class="procedItem procedItem2 boxs">
							<ul>
								<li>Items :</li>
								<li>2</li>
							</ul>
							<ul>
								<li>Delivery Charges :</li>
								<li>$ 4</li>
							</ul>
							<ul class="total">
								<li>Order Total :</li>
								<li>$ 26</li>
							</ul>
						</div>
						<div class="priceedBtn priceedBtn2 boxs">
							<a href="#0">Continue</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!--	footer code start-->
	<section class="footer boxs">
		<div class="container">
			<div class="footerIn">
				<div class="scrollbar">
					<a href="#0" class="topArrow"><img src="img/scroll.svg" class="img-fluid" alt="scroll"></a>
				</div>
				<div class="footerAl footerFirst">
					<h2>CHOBANI</h2>
					<p>Bushwick meh Blue Bottle pork belly<br> mustache skate Echo Park.</p>
					<p>© 2020 LifeSet All Rights Reserved.</p>
				</div>
				<div class="footerAl">
					<h2>Quick Links</h2>
					<ul>
						<li><a href="aboutUs.html">About us</a></li>
						<li><a href="contactus.html">Contact Us</a></li>
						<li><a href="career.html">Why Us</a></li>
						<li><a href="#0">Track Order</a></li>
					</ul>
				</div>
				<div class="footerAl">
					<h2>Help Links</h2>
					<ul>
						<li><a href="#0">Cancellation Policy</a></li>
						<li><a href="#0">Shipping Policy</a></li>
						<li><a href="#0">Terms And Conditions</a></li>
						<li><a href="#0">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="socialMedia">
					<ul>
						<li><a href="#0">Twitter</a></li>
						<li><a href="#0">Facebook</a></li>
						<li><a href="#0">Instagram</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--	footer code end-->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>
