<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Wesltk | Shoping Cart</title>
	<!-- Bootstrap -->
	<link href="img/fav.png" rel="icon" type="icon/image">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/slick.css" rel="stylesheet">
	<link href="css/hamburgers.css" rel="stylesheet">
	<link href="css/slick-theme.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/intlTelInput.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>

<body>
	<!-- Header Start -->
	<div class="header boxs">
		<div class="container">
			<nav class="navbar navbar-default">
				<nav class="navbar navbar-expand-md">
					<a class="navbar-brand" href="index.html"><img src="img/logoblue.svg" class="img-fluid" alt="logo"></a>
					<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav"><span class="navIcon"></span></button>
					<div class="navbar-collapse" id="nav">
						<div class="headerBox d-flex align-items-center float-right">
							<ul class="navbar-nav">
								<li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Become a Partner </a></li>
								<li class="nav-item afterLogin categoryBox"><a class="nav-link subMenu" href="javascript:void(0)"> Offers </a>
								</li>
								<li class="nav-item"><a class="nav-link" href="#0">Services <span><img src="img/dropblue.svg" class="img-fluid" alt="dropdown"></span></a></li>
								<li class="nav-item"><a class="nav-link" href="#0">Shop <span><img src="img/dropblue.svg" class="img-fluid" alt="dropdown"></span> </a></li>
								<li class="nav-item"><a class="nav-link" href="#0"><span><img src="img/cart2.svg" class="img-fluid" alt="cart"></span> </a></li>

								<li class="nav-item loginShow"><a class="nav-link loginBtn" href="#0">Login</a></li>
								<li class="nav-item urserShow"><a class="nav-link afterloginBtn" href="#0"><span><img src="img/user.png" class="img-fluid" alt="user"></span>Deepanshu
									</a>
									<div class="profileChanges">
										<ul>
											<li><a href="profile.html">Profile</a></li>
											<li><a href="profile.html">Notification</a></li>
											<li><a href="profile.html">Orders</a></li>
											<li><a href="profile.html">Address</a></li>
											<li><a href="profile.html">Logout</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</nav>

			</nav>

		</div>
	</div>
	<!-- Header End -->

	<!--	shoping cart code start-->
	<section class="shopingCart scrollTop boxs">
		<div class="container">
			<div class="shopcartHead">
				<h2 class="mainHeading">Shopping Cart</h2>
			</div>
			<div class="row">
				<div class="col-sm-9">
					<div class="shopCartInHead">
						<h2>Product Description</h2>
						<h2>Price</h2>
					</div>
					<div class="shopCartIn">
						<div class="shopCartInAl">
							<div class="shopingDet">
								<div class="shopinImg">
									<img src="img/shop1.png" class="img-fluid" alt="shop">
								</div>
								<div class="shopContent">
									<h2>Mix Veg</h2>
									<p>North Indian, Mughlai, Seafood, Biryani</p>
									<div class="productDet">
										<div class="addProduct addProduct2">
											<div class="vaulebox">
												<button type="button" class="minus_btn">-</button>
												<input type="text" value="1" class="qty">
												<p class="productAdd">Add to Cart</p>
												<button type="button" class="plus_btn">+</button>
											</div>
										</div>
										<a href="#0"> X Remove</a>
									</div>
								</div>
							</div>
							<div class="priceAl">
								<h2>$ 12.93</h2>
							</div>
						</div>
						<div class="shopCartInAl">
							<div class="shopingDet">
								<div class="shopinImg">
									<img src="img/shop1.png" class="img-fluid" alt="shop">
								</div>
								<div class="shopContent">
									<h2>Mix Veg</h2>
									<p>North Indian, Mughlai, Seafood, Biryani</p>
									<div class="productDet">
										<div class="addProduct addProduct2">
											<div class="vaulebox">
												<button type="button" class="minus_btn">-</button>
												<input type="text" value="1" class="qty">
												<p class="productAdd">Add to Cart</p>
												<button type="button" class="plus_btn">+</button>
											</div>
										</div>
										<a href="#0"> X Remove</a>
									</div>
								</div>
							</div>
							<div class="priceAl">
								<h2>$ 12.93</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="procedTo boxs">
						<div class="procedTotal boxs">
							<h2>Subtotal (2 items) : </h2>
							<h3>$25</h3>
						</div>
						<div class="priceedBtn boxs">
							<a href="checkout.html">Proceed to Buy</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="alsoOrder paddingAll   boxs">
		<div class="container">
			<div class="alsoOrderIn">
				<h2 class="mainHeading">You can order also this</h2>
			</div>
			<div class="menuDetail menuShow">
			<ul class="menuDetailnew menuDetailnew2 menuDetailnew3">
								<li>
									<div class="menuListImg menuListImg2">
										<img src="img/list1.png" class="img-fluid" alt="list">
									</div>
									<div class="menuContent menuContent2">
										<h2>Barbeque Nation<span class="foodType"><img src="img/veg.svg" class="img-fluid" alt="veg"></span></h2>
										<p>North Indian, Mughlai, Seafood, Biryani, Desserts, Kebabss</p>
										<h2 class="price">$15.93</h2>

										<div class="addProduct">
											<div class="vaulebox">
												<button type="button" class="minus_btn">-</button>
												<input type="text" value="1" class="qty">
												<p class="productAdd">Add to Cart</p>
												<button type="button" class="plus_btn">+</button>
											</div>
										</div>

									</div>
								</li>
												<li>
									<div class="menuListImg menuListImg2">
										<img src="img/list1.png" class="img-fluid" alt="list">
									</div>
									<div class="menuContent menuContent2">
										<h2>Barbeque Nation<span class="foodType"><img src="img/veg.svg" class="img-fluid" alt="veg"></span></h2>
										<p>North Indian, Mughlai, Seafood, Biryani, Desserts, Kebabss</p>
										<h2 class="price">$15.93</h2>

										<div class="addProduct">
											<div class="vaulebox">
												<button type="button" class="minus_btn">-</button>
												<input type="text" value="1" class="qty">
												<p class="productAdd">Add to Cart</p>
												<button type="button" class="plus_btn">+</button>
											</div>
										</div>

									</div>
								</li>
												<li>
									<div class="menuListImg menuListImg2">
										<img src="img/list1.png" class="img-fluid" alt="list">
									</div>
									<div class="menuContent menuContent2">
										<h2>Barbeque Nation<span class="foodType"><img src="img/veg.svg" class="img-fluid" alt="veg"></span></h2>
										<p>North Indian, Mughlai, Seafood, Biryani, Desserts, Kebabss</p>
										<h2 class="price">$15.93</h2>

										<div class="addProduct">
											<div class="vaulebox">
												<button type="button" class="minus_btn">-</button>
												<input type="text" value="1" class="qty">
												<p class="productAdd">Add to Cart</p>
												<button type="button" class="plus_btn">+</button>
											</div>
										</div>

									</div>
								</li>
												<li>
									<div class="menuListImg menuListImg2">
										<img src="img/list1.png" class="img-fluid" alt="list">
									</div>
									<div class="menuContent menuContent2">
										<h2>Barbeque Nation<span class="foodType"><img src="img/veg.svg" class="img-fluid" alt="veg"></span></h2>
										<p>North Indian, Mughlai, Seafood, Biryani, Desserts, Kebabss</p>
										<h2 class="price">$15.93</h2>

										<div class="addProduct">
											<div class="vaulebox">
												<button type="button" class="minus_btn">-</button>
												<input type="text" value="1" class="qty">
												<p class="productAdd">Add to Cart</p>
												<button type="button" class="plus_btn">+</button>
											</div>
										</div>

									</div>
								</li>
			</ul>
		</div>
		</div>

	</section>
	
	<!--	footer code start-->
	<section class="footer boxs">
		<div class="container">
			<div class="footerIn">
				<div class="scrollbar">
					<a href="#0" class="topArrow"><img src="img/scroll.svg" class="img-fluid" alt="scroll"></a>
				</div>
				<div class="footerAl footerFirst">
					<h2>CHOBANI</h2>
					<p>Bushwick meh Blue Bottle pork belly<br> mustache skate Echo Park.</p>
					<p>© 2020 LifeSet All Rights Reserved.</p>
				</div>
				<div class="footerAl">
					<h2>Quick Links</h2>
					<ul>
						<li><a href="aboutUs.html">About us</a></li>
						<li><a href="contactus.html">Contact Us</a></li>
						<li><a href="career.html">Why Us</a></li>
						<li><a href="#0">Track Order</a></li>
					</ul>
				</div>
				<div class="footerAl">
					<h2>Help Links</h2>
					<ul>
						<li><a href="faq.html">Cancellation Policy</a></li>
						<li><a href="faq.html">Shipping Policy</a></li>
						<li><a href="#0">Terms And Conditions</a></li>
						<li><a href="faq.html">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="socialMedia">
					<ul>
						<li><a href="#0">Twitter</a></li>
						<li><a href="#0">Facebook</a></li>
						<li><a href="#0">Instagram</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--	footer code end-->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>
